body {
  background: var(--dark-darkest);
}

.container {
  max-width: 758px;
  margin: auto;
  width: 100%;
}

.emphasis {
  color: var(--primary);
}

#about .container > .content-wrapper > .left {
  max-width: 363px;
  margin-right: 67px;
}

#knowledges .text_large {
  margin-bottom: 6px;
}
#knowledges .tecs {
  margin-bottom: 42px;
}

.contact-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 12px;
}

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: var(--dark);
}
#main-footer a {
  color: var(--primary);
  margin-left: 6px;
}

.dark-gradientSec {
  background: #1f262f;
}

.models {
  display: none;
}

#projects .content-content-wrapper {
  gap: 8px;
}